.item{
  background-color: #f8ebeb;
  margin: 10px 10px;
  padding: 4px 4px;
  border: 2px solid black;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 30px;
}

.container{
  margin: 40px 240px;
  display: grid;
  gap: 16px 80px;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}

h1{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 40px;
}
